<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IT_Enterprise_Test.Properties.Settings.ITEnterpriseStorageConnectionString"
            connectionString="Data Source=DESKTOP-MF59TE3;Initial Catalog=ITEnterpriseStorage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>